<div class="container">
    <div class="flex justify-between">
        <div>
            <a href="/home" class="previous"> Back</a>   
        </div>
        <div>
            <h2>Hierarchy </h2>
        </div>
              <div >{{username}} <span class="tab"><a class="nav-item" (click)="logout()">Logout</a></span> </div>
         
        </div>
       <div>
        <ng-container>
           
            <br>
                <div class="container">
                    
                     <tree-root [nodes]="nodes" ></tree-root>
                </div>
               
        </ng-container>
    </div>
    </div>
    
    
     
    
    
    
    
      
    