/* Add application styles & imports to this file! */
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.flex {
    display: flex;
  }
  .justify-between {
    justify-content: space-between;
  }
 
  /* Style the button inside the input container */
  
  .tab { 
    display:inline-block; 
    margin-left: 40px; 
}
/* Container Border */
#container {
    border: 12px solid;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    }
    
    h2 {text-align: center;}
    /* .tile {
        box-shadow: 5px 7px 7px 0px rgba(0,0,0,0.51);
      } */
      #rcorners {
        border-radius: 25px;
        border: 2px solid #1E90FF;
        padding: 49px;
        width: 200px;
        height: 150px;
        font-size: 24px;
    }
      .row-margin-30 {
        row-gap: 40px;
    } 
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .previous {
      background-color: #f1f1f1;
      color: black;
    }
    
    
    
    .round {
      border-radius: 50%;
    }
    